___

<a href='https://www.udemy.com/user/Neamatullah-ekhteyari/'><img src='../Neamatullah.png'/></a>
___
<center><em>Content Copyright by Neamatullah Ekhteyari</em></center>

# Numbers and more in Python!

In this lecture, we will learn about numbers in Python and how to use them.

We will learn about the following topics:

    1. Types of Numbers in Python
    2. Basic Arithmetic
    3. Object Assignment in Python

## Types of Numbers in Python
Python provides different types of numeric literals that we can use for calculations and data processing. The two main types of numbers we commonly work with are integers and floating-point numbers.

### 1. Integers (int)
Integers are whole numbers that can be either positive or negative, including zero. They do not have a decimal point.

Examples of Integers:

In [ ]:
5

-12

0

100000

In Python, integers are used when we need to count whole units, such as counting objects, indexing in lists, or working with loop iterations.

### 2. Floating-Point Numbers (float)
Floating-point numbers have a decimal point or use scientific notation (exponential form) to represent large or small numbers.
Examples of Floating-Point Numbers:

In [ ]:
3.14 (a decimal number)

-0.75

2e3 (which is 2 × 10³ = 2000)

5E-2 (which is 5 × 10⁻² = 0.05)



Floating-point numbers are used in Python for precise calculations involving fractions, measurements, and scientific computations.

## Comparison Table of Number Types

<table>
<tr>
    <th>Examples</th> 
    <th>Number "Type"</th>
</tr>

<tr>
    <td>7, -20, 1024, 0</td>
    <td>Integers(int)</td> 
</tr>

<tr>
    <td>3.5, -2.75, 1e4, 6E-3</td> 
    <td>Floats(float)</td> 
</tr>
 </table>

### Basic Arithmetic Operations
Now, let’s perform some basic arithmetic operations using both integers and floating-point numbers in Python:

#### Addition (+)

In [15]:
x = 10  # Integer
y = 2.5  # Float
result = x + y
print(result)  # Output: 12.5

12.5

#### Subtraction (-)

In [16]:
a = 15
b = 3.5
print(a - b)  # Output: 11.5

11.5

#### Multiplication (*)

In [17]:

print(4 * 2)      # Output: 8
print(2.5 * 3.2)  # Output: 8.0

8
8.0


#### Division (/)

In [19]:

print(10 / 3)  # Output: 3.3333...

3.3333333333333335


#### Exponentiation (**)

In [21]:

print(2 ** 3)  # Output: 8 (2 raised to the power of 3)

8


#### Scientific Notation Example

In [23]:
large_num = 5e6  # 5 × 10⁶ = 5000000.0
small_num = 2E-3  # 2 × 10⁻³ = 0.002
print(large_num, small_num)

5000000.0 0.002

## Arithmetic in Python (Continued)
Now that we have covered basic arithmetic operations, let's explore a few more important concepts, including powers, roots, and order of operations.

### 1. Powers and Roots
Python allows us to perform exponentiation (raising a number to a power) using the ** operator.

#### Exponentiation (Powers)

In [25]:

# 2 raised to the power of 3 (2³)
2 ** 3  
# Output: 8

8

### Square Roots and Other Roots
We can also calculate square roots (or any root) using exponentiation with fractions.

In [27]:
# Square root of 16 (same as 16^(1/2))
16 ** 0.5  
# Output: 4.0
# Cube root of 27 (same as 27^(1/3))
27 ** (1/3)  
# Output: 3.0

3.0

### 2. Order of Operations in Python
Python follows the standard mathematical rules of order of operations, also known as PEMDAS:

P → Parentheses

E → Exponents

MD → Multiplication & Division (from left to right)

AS → Addition & Subtraction (from left to right)

#### Example without Parentheses

In [28]:

2 + 10 * 10 + 3  
# Output: 105
# Explanation: 10 * 10 = 100 → 2 + 100 + 3 = 105

105


    
#### Example with Parentheses (Changing the Order)

In [29]:

(2 + 10) * (10 + 3)  
# Output: 156
# Explanation: (12) * (13) = 156

156


Using parentheses ensures clarity and prevents errors in complex calculations.


## Variable Assignments in Python
So far, we've been using Python as a calculator. Now, let's learn how to store values in variables using variable assignment.

### 3. Assigning Values to Variables
In Python, we use the = sign to assign values to variables.

#### Example 1: Assigning an Integer

In [30]:
# Assign 5 to variable 'x'
x = 5  
# Print the value of x
print(x)  
# Output: 5

5


#### Example 2: Performing Arithmetic with Variables

In [31]:
y = 10  
z = x + y  # 5 + 10  
print(z)  
# Output: 15

15

#### 4. Reassigning Variables
Python allows us to reassign values to existing variables.

In [33]:
x = 5  
print(x)  # Output: 5
# Reassign a new value
x = 20  
print(x)  # Output: 20

5
20

#### Reassignment Using Itself

In [34]:
x = x + x  # 20 + 20  
print(x)  
# Output: 40

40

### 5. Rules for Naming Variables in Python
When creating variable names, follow these rules and best practices:

Allowed:
1. Variable names must start with a letter (a-z, A-Z) or an underscore (_)
2. Variable names can contain letters, numbers (0-9), and underscores (_)
3. Variable names are case-sensitive (myVar and myvar are different)

Not Allowed:
#### 1. Names cannot start with a number

In [35]:
1st_value = 10  #  SyntaxError

SyntaxError: invalid decimal literal (1350542733.py, line 1)

### 2. No spaces in variable names (use underscores _ instead)

In [36]:
my variable = 5  #  SyntaxError
my_variable = 5  #  Correct

SyntaxError: invalid syntax (1880786589.py, line 1)

3. Cannot use special characters: '",<>/?()!@#%^&*~-+
4. Avoid using Python's built-in keywords like list, str, int, print, etc.

In [38]:
list = [1, 2, 3]  #  Bad practice (overwrites Python's built-in 'list')

#### Example of a Good Variable Naming

In [39]:

student_name = "Alice"
total_score = 95

### 6. Using Variables in Real-World Examples
Using variables makes our code more readable and manageable.

#### Example: Calculating Taxes

In [40]:
# Assign income and tax rate
monthly_income = 5000  
tax_rate = 0.15

In [41]:
# Calculate tax
monthly_tax = monthly_income * tax_rate  
print(monthly_tax)  
# Output: 750.0

750.0


This approach makes it easier to update values later.