___

<a href='https://www.udemy.com/user/Neamatullah-ekhteyari/'><img src='../Neamatullah.png'/></a>
___
<center><em>Content Copyright by Neamatullah Ekhteyari</em></center>

# Test Your Knowledge 
Answer the following questions to test your understanding of Python’s fundamental concepts.

## Section 1: Object Types and Data Structures
Describe the following data types and structures. What are they used for? How are they different from one another?
(Double-click this markdown cell to write your answers.)

Numbers:

```Numbers in Python include integers (int), floating-point numbers (float), and complex numbers (complex). They are used for mathematical operations.```

Strings:

```A string (str) is a sequence of characters enclosed in single or double quotes. Strings are immutable and support indexing and slicing.```

Lists:

```A list is an ordered collection of elements that can store multiple data types. Lists are mutable, meaning they can be changed (elements can be added, removed, or modified).```

Tuples:

```A tuple is similar to a list but immutable, meaning its values cannot be changed after creation. Tuples are used when data should remain constant.```

Dictionaries:

```A dictionary (dict) is an unordered collection of key-value pairs. Keys must be unique and immutable, while values can be of any data type. Dictionaries allow for fast data retrieval.```

Sets:

```A set is an unordered collection of unique elements. Sets do not allow duplicates and support mathematical operations like union, intersection, and difference.```

## Section 2: Numbers and Arithmetic Operations
Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [12]:
# Your answer is probably different
(60 + (10 ** 2) / 4 * 7) - 134.75

100.25

Without running the code, predict the output of the following expressions:

In [13]:
5 * (8 + 3)

55

In [14]:
5 * 8 + 3

43

In [15]:
5 + 8 * 3

29

What is the data type of the following expression?

In [16]:
7 + 2.5 + 6

15.5

How do you calculate a number’s square root and its square in Python?

- Square root:
- Square:

In [17]:
import math
square_root = math.sqrt(25)  # 5.0
square = 5 ** 2  # 25

## Section 3: Strings
Given the string "python", write an index command that returns 'y'.

In [18]:
s = "python"
print(s[1])  # Output: 'y'

y

Reverse the string "python" using slicing.

In [19]:
s = "python"
print(s[::-1])  # Output: "nohtyp"

nohtyp

Extract the letter "n" from the string "python" using two different methods.

In [20]:
s = "python"
# Method 1
print(s[-1])  

# Method 2
print(s[5])

n
n

## Section 4: Lists
Create the list [1,1,1] in two different ways.

In [21]:
# Method 1
my_list = [1, 1, 1]

# Method 2
my_list = [1] * 3

Change the word "hello" in the following nested list to "goodbye".

In [23]:
my_list = [5, [10, 15, ["hello"]]]
my_list[1][2][0] = "goodbye"
my_list

[5, [10, 15, ['goodbye']]]

Sort the following list in ascending order.

In [24]:
num_list = [9, 1, 6, 4, 3]
num_list.sort()
print(num_list)  # Output: [1, 3, 4, 6, 9]

[1, 3, 4, 6, 9]

## Section 5: Dictionaries
Use dictionary indexing to extract "world" from the following dictionary:

In [25]:
d = {"key1": "world"}
print(d["key1"])  # Output: "world"

world

Retrieve "world" from this nested dictionary:

In [7]:
d = {"level1": {"level2": {"target": "world"}}}
# your code here

Extract "world" from the deeply nested dictionary below:

In [26]:
d = {"level1": {"level2": {"target": "world"}}}
print(d["level1"]["level2"]["target"])

world

```Can you sort a dictionary? Why or why not?```

In [30]:
# Dictionaries cannot be sorted directly, but you can use sorted() to sort by keys or values.
sorted_dict = dict(sorted(d.items()))
sorted_dict

{'level1': {'level2': {'target': 'world'}}}

## Dictionaries (Advanced Questions)
```Create a dictionary that stores information about a student, including their name, age, grades (list of numbers), and enrolled courses (a list of course names).```

In [32]:
# Your code here
student = {
    "name": "John",
    "age": 20,
    "grades": [85, 90, 78],
    "enrolled_courses": ["Math", "CS"]
}

Update the dictionary you created above to:

- Change the student's age.
- Add a new course to their list of enrolled courses.
- Remove one of the grades.

In [31]:
# Your code here
student["age"] = 21
student["enrolled_courses"].append("Physics")
student["grades"].pop()

90

```Given the following dictionary, write a Python program to check if the key "salary" exists. If it does, print its value; otherwise, print "Key not found".```

In [33]:
employee = {"name": "John", "age": 30, "department": "IT"}
print(employee.get("salary", "Key not found"))

Key not found

Merge the two dictionaries below into a single dictionary.

In [35]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
merged_dict = {**dict1, **dict2}
merged_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Convert the following list of tuples into a dictionary:

In [37]:
data = [("name", "Alice"), ("age", 25), ("city", "New York")]
dict_data = dict(data)

dict_data

{'name': 'Alice', 'age': 25, 'city': 'New York'}

Write a Python program to count the frequency of each letter in the given string and store it in a dictionary.

In [39]:
text = "python programming"
letter_count = {char: text.count(char) for char in set(text)}
letter_count

{'g': 2,
 't': 1,
 'p': 2,
 ' ': 1,
 'i': 1,
 'n': 2,
 'r': 2,
 'h': 1,
 'y': 1,
 'm': 2,
 'a': 1,
 'o': 2}

## Section 6: Tuples

What is the key difference between tuples and lists?
```Tuples are immutable, while lists are mutable.```

How do you define a tuple in Python? Provide an example.

In [40]:
# your example here
my_tuple = (1, 2, 3)

Create a tuple with only one element.

In [41]:
# Your code here
single_element_tuple = (5,)

Given the tuple below, extract only the first and last elements.

In [42]:
my_tuple = (10, 20, 30, 40, 50)
print(my_tuple[0], my_tuple[-1])

10 50

Convert the following tuple into a list, modify the second element, and convert it back to a tuple.

In [44]:
t = (1, 2, 3, 4, 5)
t_list = list(t)
t_list[1] = 10
t = tuple(t_list)
t

(1, 10, 3, 4, 5)

Given two tuples, concatenate them into a single tuple.

In [46]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
new_tuple = tuple1 + tuple2
new_tuple

(1, 2, 3, 4, 5, 6)

Write a Python program to find the index of the value 25 in the tuple below:

In [47]:
numbers = (5, 10, 15, 20, 25, 30)
print(numbers.index(25))

4

Given the tuple below, find the maximum and minimum values.

In [48]:
numbers = (8, 3, 15, 2, 9, 20)
print(max(numbers), min(numbers))

20 2

Can you modify a tuple after it has been created? Why or why not?
``` 
No, you cannot modify a tuple after it has been created because tuples are immutable in Python.

Explanation:
Immutability means that once a tuple is created, its elements cannot be changed, added, or removed.

This is different from lists, which are mutable and allow modifications.
```

# Section 7: Sets
What makes sets unique compared to other data structures?

Use a set to find unique values from the list below:

In [50]:
values = [4, 5, 5, 6, 7, 8, 8, 9, 4, 2]
unique_values = set(values)

unique_values

{2, 4, 5, 6, 7, 8, 9}

Create a set containing numbers from 1 to 10.

In [52]:
# Your code here
num_set = set(range(1, 11))
num_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Given two sets below, perform the following operations:

- Find the union of the sets.
- Find the intersection of the sets.
- Find the difference between set1 and set2.

In [56]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Your Code here

union = set1 | set2
intersection = set1 & set2
difference = set1 - set2

Remove an element from a set safely (without causing an error if the element doesn’t exist).

In [57]:
my_set = {1, 2, 3}
my_set.discard(4)


Given a list with duplicate values, remove the duplicates using a set.

In [60]:
nums = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]

# Convert the list to a set to remove duplicates
unique_nums = list(set(nums))

print(unique_nums)  # Output: [1, 2, 3, 4, 5, 6, 7] (Order may vary)

[1, 2, 3, 4, 5, 6, 7]

### Explanation:
set(nums) → Removes duplicates since sets cannot have repeated elements.

list(set(nums)) → Converts the set back into a list.

Check if set_a is a subset of set_b.

In [61]:
set_a = {1, 2, 3}
set_b = {1, 2, 3, 4, 5}
print(set_a.issubset(set_b))

True

Write a Python program to generate a set of unique random numbers between 1 and 100 with 10 elements.

In [69]:
import random
random_set = set(random.sample(range(1, 101), 10))

random_set

{37, 38, 40, 56, 62, 65, 70, 87, 90, 98}

What is the difference between .remove() and .discard() in sets?

In [26]:
# your description here

## Section 8: Boolean Logic and Comparison Operators
What will be the output of the following boolean expressions? Answer before running the code.

In [70]:
10 > 3
# your answer before running:

True

In [71]:
5 <= 2

# your answer before running:

False

In [72]:
3 == 3.5

# your answer before running:

False

In [73]:
4.0 == 4

# your answer before running:

True

In [74]:
9**0.5 != 3

# your answer before running:

False

Given two lists, determine whether the last element of the first list is greater than or equal to the dictionary value in the second list.

In [76]:
list_a = [1, 2, [7, 8]]
list_b = [1, 2, {"key": 8}]

# your code here
list_a[2][1] >= list_b[2]["key"]

True

In [77]:
# Your answer: True or False?
list_a[2][1] >= list_b[2]["key"]

# your answer before running:

True

## Final Question
You've completed your assessment! What concept did you find the most challenging, and what would you like to review further?