___

<a href='https://www.udemy.com/user/Neamatullah-ekhteyari/'><img src='../Neamatullah.png'/></a>
___
<center><em>Content Copyright by Neamatullah Ekhteyari</em></center>

# Test Your Knowledge 
Answer the following questions to test your understanding of Python’s fundamental concepts.

## Section 1: Object Types and Data Structures
Describe the following data types and structures. What are they used for? How are they different from one another?
(Double-click this markdown cell to write your answers.)

Numbers: 

Strings:

Lists:

Tuples:

Dictionaries:

Sets:

## Section 2: Numbers and Arithmetic Operations
Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [28]:
# Your Answer here

Without running the code, predict the output of the following expressions:

In [ ]:
5 * (8 + 3)

In [ ]:
5 * 8 + 3

In [ ]:
5 + 8 * 3

What is the data type of the following expression?

In [ ]:
7 + 2.5 + 6

How do you calculate a number’s square root and its square in Python?

- Square root:
- Square:

## Section 3: Strings
Given the string "python", write an index command that returns 'y'.

In [ ]:
s = "python"
# Your code here

Reverse the string "python" using slicing.

In [ ]:
s = "python"
# Your code here

Extract the letter "n" from the string "python" using two different methods.

In [ ]:
s = "python"
# Method 1:

# Method 2:

## Section 4: Lists
Create the list [1,1,1] in two different ways.

In [3]:
# Method 1:

# Method 2:

Change the word "hello" in the following nested list to "goodbye".

In [ ]:
my_list = [5, [10, 15, ["hello"]]]

Sort the following list in ascending order.

In [4]:
num_list = [9, 1, 6, 4, 3]
# your code here

## Section 5: Dictionaries
Use dictionary indexing to extract "world" from the following dictionary:

In [6]:
d = {"key1": "world"}
# your code here

Retrieve "world" from this nested dictionary:

In [7]:
d = {"level1": {"level2": {"target": "world"}}}
# your code here

Extract "world" from the deeply nested dictionary below:

In [8]:
d = {"outer": [{"inner_key": ["ignore this", ["world"]]}]}
# your code here

```Can you sort a dictionary? Why or why not?```

## Dictionaries (Advanced Questions)
```Create a dictionary that stores information about a student, including their name, age, grades (list of numbers), and enrolled courses (a list of course names).```

In [9]:
# Your code here

Update the dictionary you created above to:

- Change the student's age.
- Add a new course to their list of enrolled courses.
- Remove one of the grades.

In [10]:
# Your code here

```Given the following dictionary, write a Python program to check if the key "salary" exists. If it does, print its value; otherwise, print "Key not found".```

In [ ]:
employee = {"name": "John", "age": 30, "department": "IT"}
# your code here

Merge the two dictionaries below into a single dictionary.

In [12]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
# your code here

Convert the following list of tuples into a dictionary:

In [14]:
data = [("name", "Alice"), ("age", 25), ("city", "New York")]
# your code here

Write a Python program to count the frequency of each letter in the given string and store it in a dictionary.

In [15]:
text = "python programming"
# your code here

## Section 6: Tuples

What is the key difference between tuples and lists?

How do you define a tuple in Python? Provide an example.

In [ ]:
# your example here

Create a tuple with only one element.

In [16]:
# Your code here

Given the tuple below, extract only the first and last elements.

In [17]:
my_tuple = (10, 20, 30, 40, 50)
# your code here

Convert the following tuple into a list, modify the second element, and convert it back to a tuple.

In [ ]:
t = (1, 2, 3, 4, 5)
# your code here

Given two tuples, concatenate them into a single tuple.

In [18]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
# your code here

Write a Python program to find the index of the value 25 in the tuple below:

In [19]:
numbers = (5, 10, 15, 20, 25, 30)
# your code here

Given the tuple below, find the maximum and minimum values.

In [20]:
numbers = (8, 3, 15, 2, 9, 20)
# your code here

Can you modify a tuple after it has been created? Why or why not?

# Section 7: Sets
What makes sets unique compared to other data structures?

Use a set to find unique values from the list below:

In [21]:
values = [4, 5, 5, 6, 7, 8, 8, 9, 4, 2]
# your code here

Create a set containing numbers from 1 to 10.

In [22]:
# Your code here

Given two sets below, perform the following operations:

- Find the union of the sets.
- Find the intersection of the sets.
- Find the difference between set1 and set2.

In [23]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Your Code here

Remove an element from a set safely (without causing an error if the element doesn’t exist).

In [ ]:
# Your Code here


Given a list with duplicate values, remove the duplicates using a set.

In [24]:
nums = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
# Your Code here

Check if set_a is a subset of set_b.

In [25]:
set_a = {1, 2, 3}
set_b = {1, 2, 3, 4, 5}

# Your Code here

Write a Python program to generate a set of unique random numbers between 1 and 100 with 10 elements.

In [ ]:
import random

# your code here

What is the difference between .remove() and .discard() in sets?

In [26]:
# your description here

## Section 8: Boolean Logic and Comparison Operators
What will be the output of the following boolean expressions? Answer before running the code.

In [ ]:
10 > 3
# your answer before running:

In [ ]:
5 <= 2

# your answer before running:

In [ ]:
3 == 3.5

# your answer before running:

In [ ]:
4.0 == 4

# your answer before running:

In [ ]:
9**0.5 != 3

# your answer before running:

Given two lists, determine whether the last element of the first list is greater than or equal to the dictionary value in the second list.

In [ ]:
list_a = [1, 2, [7, 8]]
list_b = [1, 2, {"key": 8}]

# your code here

In [ ]:
# Your answer: True or False?
list_a[2][1] >= list_b[2]["key"]

# your answer before running:

## Final Question
You've completed your assessment! What concept did you find the most challenging, and what would you like to review further?