___

<a href='https://www.udemy.com/user/Neamatullah-ekhteyari/'><img src='../Neamatullah.png'/></a>
___
<center><em>Content Copyright by Neamatullah Ekhteyari</em></center>


### Python Basics: Numbers, Variables, and Strings

This Jupyter Notebook covers fundamental concepts in Python, including:
- Types of Numbers
- Arithmetic Operations
- Variable Assignment
- Dynamic Typing
- Rules for Variable Names
- Strings and String Manipulation
- String Indexing and Slicing
- String Properties
- String Methods
- String Formatting

Strings are used in Python to record text information, such as names. Strings in Python are actually a sequence, which basically means Python keeps track of every element in the string as a sequence. For example, Python understands the string "hello' to be a sequence of letters in a specific order. This means we will be able to use indexing to grab particular letters (like the first letter, or the last letter).

# Types of Numbers in Python

## Integers (whole numbers)

In [5]:
int_example_1 = 2  # Example of a positive integer
int_example_2 = -5  # Example of a negative integer
int_example_3 = 1000  # Large integer example

### Floating-point numbers (numbers with decimals or exponent notation)

In [6]:
float_example_1 = 2.0  # Example of a float number
float_example_2 = -0.5  # Negative floating-point number
float_example_3 = 4E2  # Equivalent to 4 * 10^2 (exponential notation)

### Dispaly the examplese

In [8]:

print("Integer Examples:", int_example_1, int_example_2, int_example_3)
print("Floating-point Examples:", float_example_1, float_example_2, float_example_3)

Integer Examples: 2 -5 1000
Floating-point Examples: 2.0 -0.5 400.0

#### Arithmetic Operations

In [9]:
print("Addition (2 + 3):", 2 + 3)
print("Subtraction (10 - 4):", 10 - 4)
print("Multiplication (5 * 6):", 5 * 6)
print("Division (20 / 4):", 20 / 4)
print("Exponentiation (2 ** 3):", 2 ** 3)  # 2 raised to the power of 3
print("Square Root (4 ** 0.5):", 4 ** 0.5)  # Equivalent to sqrt(4)

Addition (2 + 3): 5
Subtraction (10 - 4): 6
Multiplication (5 * 6): 30
Division (20 / 4): 5.0
Exponentiation (2 ** 3): 8
Square Root (4 ** 0.5): 2.0

#### Order of operations (follows BODMAS/PEMDAS rules)

In [10]:
print("Order of operations (2 + 10 * 10 + 3):", 2 + 10 * 10 + 3)
print("Using parentheses ((2 + 10) * (10 + 3)):", (2 + 10) * (10 + 3))

Order of operations (2 + 10 * 10 + 3): 105
Using parentheses ((2 + 10) * (10 + 3)): 156

#### Rules for Variable Names

In [11]:
print("\nRules for Variable Names:")
print("- Names cannot start with a number")
print("- Names cannot contain spaces, use underscores (_) instead")
print("- Names cannot contain special symbols like: :'\"<>/?|\\!@#%^&*~-+")
print("- Use lowercase letters with underscores (PEP8 best practice)")
print("- Avoid using Python built-in keywords like 'list' and 'str'")
print("- Avoid single characters like 'l', 'O', and 'I' as they resemble 1 and 0")

Rules for Variable Names:
- Names cannot start with a number
- Names cannot contain spaces, use underscores (_) instead
- Names cannot contain special symbols like: :'"<>/?|\!@#%^&*~-+
- Use lowercase letters with underscores (PEP8 best practice)
- Avoid using Python built-in keywords like 'list' and 'str'
- Avoid single characters like 'l', 'O', and 'I' as they resemble 1 and 0

In [13]:
# Variable Assignment

print("\nVariable Assignment:")
a = 5  # Assigning a value to variable 'a'
print("Value of a:", a)
a = a + a  # Reassigning 'a' by doubling its value
print("Reassigned a (a + a):", a)

a += 10  # Using shorthand for addition assignment
print("After += 10:", a)

Variable Assignment:
Value of a: 5
Reassigned a (a + a): 10
After += 10: 20

In [14]:
# Checking variable type
print("Type of a:", type(a))

Type of a: <class 'int'>

In [15]:
# Dynamic Typing
print("\nDynamic Typing:")
my_var = 10  # Initially an integer
print("my_var as int:", my_var, "Type:", type(my_var))
my_var = "Hello"  # Reassigned to a string
print("my_var as string:", my_var, "Type:", type(my_var))

Dynamic Typing:
my_var as int: 10 Type: <class 'int'>
my_var as string: Hello Type: <class 'str'>

In [16]:
# Strings
print("\nString Basics:")
s = "Hello World"
print("Original String:", s)
print("Length of String:", len(s))

String Basics:
Original String: Hello World
Length of String: 11

In [17]:
# String Indexing
print("First character (s[0]):", s[0])
print("Last character (s[-1]):", s[-1])
print("Slicing (first 5 characters, s[:5]):", s[:5])
print("Reverse String (s[::-1]):", s[::-1])

First character (s[0]): H
Last character (s[-1]): d
Slicing (first 5 characters, s[:5]): Hello
Reverse String (s[::-1]): dlroW olleH

In [18]:
# String Properties
print("\nString Properties:")
print("- Strings are immutable (cannot be changed after creation)")
print("- You can concatenate strings using +")
print("- You can multiply strings using *")

String Properties:
- Strings are immutable (cannot be changed after creation)
- You can concatenate strings using +
- You can multiply strings using *

In [19]:
# Concatenation Example
s = s + " concatenate me!"
print("Concatenated String:", s)

Concatenated String: Hello World concatenate me!

In [20]:
# String Methods
print("\nString Methods:")
print("Uppercase (s.upper()):", s.upper())
print("Lowercase (s.lower()):", s.lower())
print("Splitting (s.split()):", s.split())
print("Splitting by 'W' (s.split('W')):", s.split("W"))

String Methods:
Uppercase (s.upper()): HELLO WORLD CONCATENATE ME!
Lowercase (s.lower()): hello world concatenate me!
Splitting (s.split()): ['Hello', 'World', 'concatenate', 'me!']
Splitting by 'W' (s.split('W')): ['Hello ', 'orld concatenate me!']

In [21]:
# String Formatting
print("\nString Formatting:")
formatted_str = "Insert another string here: {}".format("Python")
print(formatted_str)

String Formatting:
Insert another string here: Python


### Summary
In this notebook, we covered:
- Types of numbers (integers, floating points)
- Basic arithmetic operations
- Rules for variable names
- Variable assignment and dynamic typing
- String manipulation and methods
- String formatting techniques

Continue exploring Python with more advanced topics!